{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://api.optitech.com/v1"
    }
  ],
  "info": {
    "title": "OptiTech API",
    "description": "The OptiTech API allows you to access and manage OptiTech programmatically. You can use the OptiTech API to manage API keys, programs, frameworks, integrations, registers, roles, and operations. For information about these features, refer to the [OptiTech documentation](/docs/manage/overview/).\n\nYou can run OptiTech API requests from this API reference using the **Try It** feature. Enter your API key as a **Bearer** token in the **Authorization** section of the page.\n\nYou can create and manage API keys in the OptiTech Console. See [Manage API keys](/docs/manage/api-keys/) for instructions.",
    "version": "v2",
    "contact": {
      "email": "help@databricks.com"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "x-readme": {
    "samples-languages": [
      "shell"
    ]
  },
  "security": [
    {
      "BearerAuth": []
    },
    {
      "CookieAuth": []
    },
    {
      "TokenCookieAuth": []
    }
  ],
  "tags": [
    {
      "name": "API Key",
      "description": "These methods allow you to create and manage API keys for your OptiTech account. For related information, see [Manage API keys](/docs/manage/api-keys)."
    },
    {
      "name": "Operation",
      "description": "These methods allow you to view operation details for your OptiTech program. For related information, see [Operations](/docs/manage/operations)."
    },
    {
      "name": "Program",
      "description": "These methods allow you to create and manage OptiTech programs. For related information, see [Manage programs](/docs/manage/programs)."
    },
    {
      "name": "Framework",
      "description": "These methods allow you to create and manage frameworks in your OptiTech program. For related information, see [Manage frameworks](/docs/manage/frameworks)."
    },
    {
      "name": "Endpoint",
      "description": "These methods allow you to create and manage integrations in your OptiTech program. For related information, see [Manage integrations](/docs/manage/integrations)."
    },
    {
      "name": "Snapshot",
      "description": "These methods allow you to create and manage snapshots."
    },
    {
      "name": "Preview",
      "description": "New API methods that are in a Preview state and may be subject to changes."
    },
    {
      "name": "Region",
      "description": "These methods allow you to inspect OptiTech regions."
    },
    {
      "name": "Users",
      "description": "These methods allow you to manage your OptiTech user account."
    },
    {
      "name": "Consumption",
      "description": "These methods allow you to view consumption details for your OptiTech account."
    },
    {
      "name": "Organizations",
      "description": "These methods allow you to manage your OptiTech organizations."
    },
    {
      "name": "Auth",
      "description": "These methods allow you to create and manage OptiTech Auth programs."
    },
    {
      "name": "Auth (legacy)",
      "description": "These methods allow you to create and manage OptiTech Auth programs. Deprecated. See routes with the `Auth` tag instead."
    },
    {
      "name": "Storage",
      "description": "These methods allow you to inspect branchable object-storage state for OptiTech frameworks."
    },
    {
      "name": "Buckets",
      "description": "These methods allow you to create and manage branchable object-storage buckets and their objects."
    },
    {
      "name": "Functions",
      "description": "These methods allow you to create and manage functions on your OptiTech frameworks."
    },
    {
      "name": "AI Gateway",
      "description": "These methods allow you to inspect the AI Gateway endpoint for your OptiTech frameworks."
    },
    {
      "name": "Credentials",
      "description": "These methods allow you to issue and manage scoped credentials on your OptiTech frameworks."
    }
  ],
  "paths": {
    "/programs/{program_id}/advisors": {
      "parameters": [
        {
          "name": "program_id",
          "description": "OptiTech program ID",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "Get advisor issues",
        "description": "Analyzes the register for security and performance issues.\nReturns a list of issues categorized by severity (ERROR, WARN, INFO).\n\nRequires read access to the program and Data API enabled.\n",
        "operationId": "getProjectAdvisorSecurityIssues",
        "tags": [
          "Project"
        ],
        "x-stability-level": "alpha",
        "parameters": [
          {
            "name": "framework_id",
            "in": "query",
            "required": false,
            "description": "Framework ID to analyze. If not specified, the program's default framework is used.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "name": "register_name",
            "in": "query",
            "required": false,
            "description": "Register name to analyze. Required if framework has multiple registers.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter issues by category",
            "schema": {
              "$ref": "#/components/schemas/AdvisorCategory"
            }
          },
          {
            "name": "min_severity",
            "in": "query",
            "required": false,
            "description": "Minimum severity level to include. For example, WARN returns WARN and ERROR issues, excluding INFO.",
            "schema": {
              "type": "string",
              "enum": [
                "INFO",
                "WARN",
                "ERROR"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved security advisor issues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "issues"
                  ],
                  "properties": {
                    "issues": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AdvisorIssue"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/api_keys": {
      "get": {
        "summary": "List API keys",
        "description": "Retrieves the API keys for your OptiTech account.\nThe response does not include API key tokens. A token is only provided when creating an API key.\nAPI keys can also be managed in the OptiTech Console.\nFor more information, see [Manage API keys](/docs/manage/api-keys/).\n",
        "tags": [
          "API Key"
        ],
        "operationId": "listApiKeys",
        "responses": {
          "200": {
            "description": "Returned the API keys for the OptiTech account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKeysListResponseItem"
                  },
                  "example": [
                    {
                      "id": 165432,
                      "name": "mykey_1",
                      "created_at": "2022-11-15T20:13:35Z",
                      "created_by": {
                        "id": "629982cc-de05-43db-ae16-28f2399c4910",
                        "name": "John Smith",
                        "image": "http://link.to.image"
                      },
                      "last_used_at": "2022-11-15T20:22:51Z",
                      "last_used_from_addr": "192.0.2.255"
                    },
                    {
                      "id": 165433,
                      "name": "mykey_2",
                      "created_at": "2022-11-15T20:12:36Z",
                      "created_by": {
                        "id": "629982cc-de05-43db-ae16-28f2399c4910",
                        "name": "John Smith",
                        "image": "http://link.to.image"
                      },
                      "last_used_at": "2022-11-15T20:15:04Z",
                      "last_used_from_addr": "192.0.2.255"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "post": {
        "summary": "Create API key",
        "description": "Creates an API key.\nThe `key_name` is a user-specified name for the key.\nReturns an `id` and `key`; the `key` is a randomly generated, 64-bit token required to access the OptiTech API.\nStore the key securely \u2014 it is only returned once.\nAPI keys can also be managed in the OptiTech Console.\nSee [Manage API keys](/docs/manage/api-keys/).\n",
        "tags": [
          "API Key"
        ],
        "operationId": "createApiKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyCreateRequest"
              },
              "example": {
                "key_name": "mykey"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created an API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreateResponse"
                },
                "example": {
                  "id": 165434,
                  "key": "9v1faketcjbl4sn1013keyd43n2a8qlfakeog8yvp40hx16keyjo1bpds4y2dfms3",
                  "name": "mykey",
                  "created_at": "2022-11-15T20:13:35Z",
                  "created_by": "629982cc-de05-43db-ae16-28f2399c4910"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/api_keys/{key_id}": {
      "delete": {
        "summary": "Revoke API key",
        "description": "Revokes the specified API key.\nAn API key that is no longer needed can be revoked.\nThis action cannot be reversed.\nAPI keys can also be managed in the OptiTech Console.\nSee [Manage API keys](/docs/manage/api-keys/).\n",
        "tags": [
          "API Key"
        ],
        "operationId": "revokeApiKey",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "description": "The API key ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked the specified API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyRevokeResponse"
                },
                "example": {
                  "id": 165435,
                  "name": "mykey",
                  "created_at": "2022-11-15T20:13:35Z",
                  "created_by": "629982cc-de05-43db-ae16-28f2399c4910",
                  "last_used_at": "2022-11-15T20:15:04Z",
                  "last_used_from_addr": "192.0.2.255",
                  "revoked": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/operations/{operation_id}": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "operation_id",
          "in": "path",
          "description": "The operation ID",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Retrieve operation details",
        "description": "Retrieves details for the specified operation.\nAn operation is an action performed on an OptiTech program resource.\n",
        "tags": [
          "Operation"
        ],
        "operationId": "getProjectOperation",
        "responses": {
          "200": {
            "description": "Returned details for the specified operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponse"
                },
                "example": {
                  "operation": {
                    "id": "a07f8772-1877-4da9-a939-3a3ae62d1d8d",
                    "program_id": "floral-king-961888",
                    "framework_id": "br-bitter-sound-247814",
                    "integration_id": "ep-dark-snowflake-942567",
                    "action": "create_timeline",
                    "status": "finished",
                    "failures_count": 0,
                    "created_at": "2022-10-04T18:20:17Z",
                    "updated_at": "2022-10-04T18:20:18Z",
                    "total_duration_ms": 100
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs": {
      "get": {
        "summary": "List programs",
        "description": "Retrieves a list of programs for the specified organization.\nIf using a personal API key, include the `org_id` parameter to specify which organization to work with.\nIf using an org API key, `org_id` is automatically inferred from the key.\nFor more information, see [Manage organizations using the OptiTech API](/docs/manage/orgs-api)\nand [Manage programs](/docs/manage/programs/).\n",
        "tags": [
          "Project"
        ],
        "operationId": "listProjects",
        "parameters": [
          {
            "name": "cursor",
            "description": "Specify the cursor value from the previous response to retrieve the next batch of programs.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "Specify a value from 1 to 400 to limit number of programs in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 10,
              "maximum": 400
            }
          },
          {
            "name": "search",
            "description": "Search by program `name` or `id`. You can specify partial `name` or `id` values to filter results.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org_id",
            "description": "Search for programs by `org_id`.",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "$ref": "#/components/parameters/TimeoutParam"
          },
          {
            "name": "recoverable",
            "description": "Show only deleted programs within the recovery window.\n",
            "in": "query",
            "x-stability-level": "beta",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned a list of programs for the OptiTech account",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProjectsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PaginationResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ProjectsApplicationsMapResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ProjectsIntegrationsMapResponse"
                    }
                  ]
                },
                "example": {
                  "programs": [
                    {
                      "id": "shiny-wind-028834",
                      "platform_id": "aws",
                      "region_id": "aws-us-east-2",
                      "name": "shiny-wind-028834",
                      "provisioner": "k8s-pod",
                      "pg_version": 15,
                      "created_at": "2022-11-23T17:42:25Z",
                      "updated_at": "2022-11-23T17:42:25Z",
                      "proxy_host": "us-east-2.aws.neon.tech",
                      "cpu_used_sec": 0,
                      "branch_logical_size_limit": 0,
                      "owner_id": "1232111",
                      "creation_source": "console",
                      "store_passwords": true,
                      "branch_logical_size_limit_bytes": 10800,
                      "active_time": 100
                    },
                    {
                      "id": "winter-boat-259881",
                      "platform_id": "aws",
                      "region_id": "aws-us-east-2",
                      "name": "winter-boat-259881",
                      "provisioner": "k8s-pod",
                      "pg_version": 15,
                      "created_at": "2022-11-23T17:52:25Z",
                      "updated_at": "2022-11-23T17:52:25Z",
                      "proxy_host": "us-east-2.aws.neon.tech",
                      "cpu_used_sec": 0,
                      "branch_logical_size_limit": 0,
                      "owner_id": "1232111",
                      "creation_source": "console",
                      "store_passwords": true,
                      "branch_logical_size_limit_bytes": 10800,
                      "active_time": 100,
                      "org_id": "org-morning-bread-81040908"
                    }
                  ],
                  "applications": {
                    "winter-boat-259881": [
                      "vercel",
                      "github"
                    ]
                  },
                  "integrations": {
                    "winter-boat-259881": [
                      "vercel",
                      "github"
                    ]
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "post": {
        "summary": "Create program",
        "description": "Creates an OptiTech program within an organization.\nIf using a personal API key, include the `org_id` parameter to specify which organization to create the program in.\nIf using an org API key, `org_id` is automatically inferred from the key.\nPlan limits define how many programs you can create.\nFor more information, see [Manage programs](/docs/manage/programs/).\n\nYou can specify a region and Postgres version in the request body.\nNeon currently supports PostgreSQL 14, 15, 16, 17, and 18.\nFor supported regions and `region_id` values, see [Regions](/docs/introduction/regions/).\n",
        "tags": [
          "Project"
        ],
        "operationId": "createProject",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreateRequest"
              },
              "examples": {
                "required_attributes_only": {
                  "summary": "Required attributes only",
                  "value": {
                    "program": {
                      "name": "myproject"
                    }
                  }
                },
                "commonly_specified_attributes": {
                  "summary": "Commonly-specified attributes",
                  "value": {
                    "program": {
                      "name": "myproject",
                      "region_id": "aws-us-east-2",
                      "pg_version": 15
                    }
                  }
                },
                "with_autoscaling": {
                  "summary": "With autoscaling attributes",
                  "value": {
                    "program": {
                      "name": "myproject",
                      "region_id": "aws-us-east-2",
                      "pg_version": 15,
                      "autoscaling_limit_min_cu": 0.25,
                      "autoscaling_limit_max_cu": 1,
                      "provisioner": "k8s-neonvm"
                    }
                  }
                },
                "with_branch_attributes": {
                  "summary": "With framework attributes",
                  "value": {
                    "program": {
                      "name": "myproject",
                      "region_id": "aws-us-east-2",
                      "pg_version": 15,
                      "framework": {
                        "name": "mybranch",
                        "role_name": "sally",
                        "register_name": "mydb"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/CreatedProject"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/shared": {
      "get": {
        "summary": "List shared programs",
        "description": "Retrieves a list of programs shared with your OptiTech account.\nFor more information, see [Manage programs](/docs/manage/programs/).\n",
        "tags": [
          "Project"
        ],
        "operationId": "listSharedProjects",
        "parameters": [
          {
            "name": "cursor",
            "description": "Specify the cursor value from the previous response to get the next batch of programs.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "Specify a value from 1 to 400 to limit number of programs in the response.",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 10,
              "maximum": 400
            }
          },
          {
            "name": "search",
            "description": "Search query by name or id.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/TimeoutParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned a list of shared programs for the OptiTech account",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProjectsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/PaginationResponse"
                    }
                  ]
                },
                "example": {
                  "programs": [
                    {
                      "id": "shiny-wind-028834",
                      "platform_id": "aws",
                      "region_id": "aws-us-east-2",
                      "name": "shiny-wind-028834",
                      "provisioner": "k8s-pod",
                      "pg_version": 15,
                      "created_at": "2022-11-23T17:42:25Z",
                      "updated_at": "2022-11-23T17:42:25Z",
                      "proxy_host": "us-east-2.aws.neon.tech",
                      "cpu_used_sec": 0,
                      "branch_logical_size_limit": 0,
                      "owner_id": "1232111",
                      "creation_source": "console",
                      "store_passwords": true,
                      "branch_logical_size_limit_bytes": 10800,
                      "active_time": 100
                    },
                    {
                      "id": "winter-boat-259881",
                      "platform_id": "aws",
                      "region_id": "aws-us-east-2",
                      "name": "winter-boat-259881",
                      "provisioner": "k8s-pod",
                      "pg_version": 15,
                      "created_at": "2022-11-23T17:52:25Z",
                      "updated_at": "2022-11-23T17:52:25Z",
                      "proxy_host": "us-east-2.aws.neon.tech",
                      "cpu_used_sec": 0,
                      "branch_logical_size_limit": 0,
                      "owner_id": "1232111",
                      "creation_source": "console",
                      "store_passwords": true,
                      "branch_logical_size_limit_bytes": 10800,
                      "active_time": 100
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "Retrieve program details",
        "description": "Retrieves information about the specified program.\nReturned details include the program settings, compute configuration, history retention, owner information, and current usage metrics.\n",
        "tags": [
          "Project"
        ],
        "operationId": "getProject",
        "responses": {
          "200": {
            "description": "Returned information about the specified program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                },
                "example": {
                  "program": {
                    "id": "shiny-wind-028834",
                    "platform_id": "aws",
                    "region_id": "aws-us-east-2",
                    "name": "shiny-wind-028834",
                    "provisioner": "k8s-pod",
                    "pg_version": 15,
                    "history_retention_seconds": 604800,
                    "created_at": "2022-11-23T17:42:25Z",
                    "updated_at": "2022-11-23T17:42:25Z",
                    "proxy_host": "us-east-2.aws.neon.tech",
                    "branch_logical_size_limit": 0,
                    "cpu_used_sec": 10,
                    "owner_id": "1232111",
                    "owner": {
                      "name": "John Smith",
                      "email": "some@email.com",
                      "branches_limit": 10,
                      "subscription_type": "scale"
                    },
                    "creation_source": "console",
                    "store_passwords": true,
                    "branch_logical_size_limit_bytes": 10500,
                    "data_storage_bytes_hour": 1040,
                    "data_transfer_bytes": 1000000,
                    "written_data_bytes": 100800,
                    "compute_time_seconds": 100,
                    "active_time_seconds": 100,
                    "consumption_period_start": "2023-02-01T00:00:00Z",
                    "consumption_period_end": "2023-03-01T00:00:00Z"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "patch": {
        "summary": "Update program",
        "description": "Updates the specified program.\nConfigurable properties include the program name, default compute settings, history retention period, and IP allowlist.\n",
        "tags": [
          "Project"
        ],
        "operationId": "updateProject",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateRequest"
              },
              "example": {
                "program": {
                  "name": "myproject"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated the specified program",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProjectResponse"
                    },
                    {
                      "$ref": "#/components/schemas/OperationsResponse"
                    }
                  ]
                },
                "example": {
                  "operations": [],
                  "program": {
                    "id": "shiny-wind-028834",
                    "platform_id": "aws",
                    "region_id": "aws-us-east-2",
                    "name": "myproject",
                    "provisioner": "k8s-pod",
                    "pg_version": 15,
                    "created_at": "2022-11-23T17:42:25Z",
                    "updated_at": "2022-12-04T02:39:25Z",
                    "proxy_host": "us-east-2.aws.neon.tech",
                    "branch_logical_size_limit": 0,
                    "cpu_used_sec": 213230,
                    "owner_id": "1232111",
                    "creation_source": "console",
                    "store_passwords": true,
                    "branch_logical_size_limit_bytes": 10500,
                    "data_storage_bytes_hour": 1040,
                    "data_transfer_bytes": 1000000,
                    "written_data_bytes": 100800,
                    "compute_time_seconds": 100,
                    "active_time_seconds": 100,
                    "history_retention_seconds": 604800,
                    "consumption_period_start": "2023-02-01T00:00:00Z",
                    "consumption_period_end": "2023-03-01T00:00:00Z"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "delete": {
        "summary": "Delete program",
        "description": "Deletes the specified program and all its endpoints, frameworks, registers, and users.\nDeleted programs can be recovered within 7 days using `POST /programs/{program_id}/recover`.\nTo list recoverable programs, use `GET /programs?recoverable=true`.\n",
        "tags": [
          "Project"
        ],
        "operationId": "deleteProject",
        "responses": {
          "200": {
            "description": "Deleted the specified program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                },
                "example": {
                  "program": {
                    "id": "bold-cloud-468218",
                    "platform_id": "aws",
                    "region_id": "aws-us-east-2",
                    "name": "bold-cloud-468218",
                    "provisioner": "k8s-pod",
                    "pg_version": 15,
                    "created_at": "2022-11-30T18:41:29Z",
                    "updated_at": "2022-11-30T18:41:29Z",
                    "proxy_host": "us-east-2.aws.neon.tech",
                    "cpu_used_sec": 23004200,
                    "branch_logical_size_limit": 0,
                    "owner_id": "1232111",
                    "creation_source": "console",
                    "store_passwords": true,
                    "branch_logical_size_limit_bytes": 10500,
                    "data_storage_bytes_hour": 1040,
                    "data_transfer_bytes": 1000000,
                    "written_data_bytes": 100800,
                    "compute_time_seconds": 100,
                    "active_time_seconds": 100,
                    "history_retention_seconds": 604800,
                    "consumption_period_start": "2023-02-01T00:00:00Z",
                    "consumption_period_end": "2023-03-01T00:00:00Z"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/recover": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "post": {
        "summary": "Recover a deleted program",
        "description": "Recovers a deleted program within the 7-day deletion recovery period.\nRestores frameworks, endpoints, settings, and connection strings.\nSome integrations require manual reconfiguration after recovery.\nTo list recoverable programs, use `GET /programs?recoverable=true`.\n",
        "tags": [
          "Project"
        ],
        "operationId": "recoverProject",
        "x-stability-level": "beta",
        "responses": {
          "200": {
            "description": "Returned the recovered program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectRecoverResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/operations": {
      "get": {
        "summary": "List operations",
        "description": "Retrieves a list of operations for the specified OptiTech program.\nThe number of operations returned can be large.\nTo paginate the response, issue an initial request with a `limit` value.\nThen, add the `cursor` value that was returned in the response to the next request.\nOperations older than 6 months may be deleted from our systems.\nIf you need more history than that, you should store your own history.\n",
        "tags": [
          "Operation"
        ],
        "operationId": "listProjectOperations",
        "parameters": [
          {
            "name": "cursor",
            "description": "Specify the cursor value from the previous response to get the next batch of operations",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "Specify a value from 1 to 1000 to limit number of operations in the response",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "program_id",
            "in": "path",
            "description": "The OptiTech program ID",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListOperations"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/permissions": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "List program access",
        "description": "Retrieves details about users who have access to the program, including the permission `id`, the granted-to email address, and the date program access was granted.",
        "tags": [
          "Project"
        ],
        "operationId": "listProjectPermissions",
        "responses": {
          "200": {
            "description": "Returned program access details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPermissions"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "post": {
        "summary": "Grant program access",
        "description": "Grants program access to the account associated with the specified email address.\n",
        "tags": [
          "Project"
        ],
        "operationId": "grantPermissionToProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrantPermissionToProjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Granted program access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPermission"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/permissions/{permission_id}": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "permission_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "summary": "Revoke program access",
        "description": "Revokes program access from the user associated with the specified permission `id`. You can retrieve a user's permission `id` by listing program access.",
        "tags": [
          "Project"
        ],
        "operationId": "revokePermissionFromProject",
        "responses": {
          "200": {
            "description": "Revoked program access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPermission"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/available_preload_libraries": {
      "get": {
        "summary": "List available shared preload libraries",
        "description": "Returns the shared preload libraries available for the specified program's Postgres version.\nShared preload libraries are Postgres extensions that require the `shared_preload_libraries`\nsetting and a compute restart to activate.\nUse this list to determine which libraries can be enabled in the program's\n`settings.preload_libraries` configuration.\n",
        "tags": [
          "Project"
        ],
        "operationId": "getAvailablePreloadLibraries",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned available shared preload libraries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailablePreloadLibraries"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/transfer_requests": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "post": {
        "summary": "Create a program transfer request",
        "description": "Creates a transfer request for the specified program. The request expires after a set period.\nTo accept the request, the recipient calls `PUT /programs/{program_id}/transfer_requests/{request_id}`\nor uses the OptiTech Console claim link.\nThe optional `ru` parameter redirects the recipient after acceptance.\n",
        "tags": [
          "Project"
        ],
        "operationId": "createProjectTransferRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ttl_seconds": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Specifies the validity duration of the transfer request in seconds. If not provided,\nthe request will expire after 24 hours (86,400 seconds).\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Program transfer request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectTransferRequestResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/transfer_requests/{request_id}": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "request_id",
          "in": "path",
          "description": "The OptiTech program transfer request ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "put": {
        "summary": "Accept a program transfer request",
        "description": "Accepts a transfer request for the specified program, transferring it to the specified organization\nor user. If org_id is not passed, the program will be transferred to the current user or organization account.\n",
        "tags": [
          "Project"
        ],
        "operationId": "acceptProjectTransferRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "org_id": {
                    "description": "The OptiTech organization ID to transfer the program to. If not provided, the program will be\ntransferred to the current user or organization account.\n",
                    "type": "string",
                    "pattern": "^[a-z0-9-]{1,60}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Program transfer request accepted successfully"
          },
          "406": {
            "description": "Account doesn't satisfy the plan requirements to own the program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptProjectTransferRequestSatisfiesPlanError"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/jwks": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "List JWKS URLs",
        "description": "Returns the JWKS URLs available for verifying JWTs used as the authentication mechanism for the specified program.\n",
        "tags": [
          "Project"
        ],
        "operationId": "getProjectJWKS",
        "responses": {
          "200": {
            "description": "The JWKS URLs available for the program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectJWKSResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "post": {
        "summary": "Add JWKS URL",
        "description": "Adds a JWKS URL to the specified program for verifying JWTs used as the authentication mechanism.\n\nThe URL must be a valid HTTPS URL that returns a JSON Web Key Set.\n\nThe `provider_name` field allows you to specify which authentication provider you're using (e.g., Clerk, Auth0, AWS Cognito).\n\nThe `framework_id` scopes the JWKS URL to specific frameworks; if not specified, it applies to all frameworks.\n\nThe `role_names` scopes the URL to specific roles; if not specified, default roles are used (`authenticator`, `authenticated`, `anonymous`).\n\nThe `jwt_audience` specifies which `aud` values are accepted in JWTs.\n",
        "tags": [
          "Project"
        ],
        "operationId": "addProjectJWKS",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddProjectJWKSRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The JWKS URL was added to the program's authentication connections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWKSCreationOperation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/jwks/{jwks_id}": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "jwks_id",
          "in": "path",
          "description": "The JWKS ID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "summary": "Delete JWKS URL",
        "description": "Removes the specified JWKS URL from the program.\nJWTs signed by keys from the removed URL can no longer authenticate to the program's endpoints.\n",
        "tags": [
          "Project"
        ],
        "operationId": "deleteProjectJWKS",
        "responses": {
          "200": {
            "description": "Deleted a JWKS URL from the program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWKS"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/frameworks/{framework_id}/data-api/{register_name}": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "framework_id",
          "in": "path",
          "description": "The OptiTech framework ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "register_name",
          "in": "path",
          "description": "The register name",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Create OptiTech Data API",
        "description": "Creates a new instance of OptiTech Data API in the specified framework.\nThe Data API exposes a REST interface over the framework register. The `register_name` path parameter determines which register the API serves.\n",
        "tags": [
          "DataAPI"
        ],
        "operationId": "createProjectBranchDataAPI",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataAPICreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Creates a new app",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataAPICreateResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "patch": {
        "summary": "Update OptiTech Data API",
        "description": "Updates the OptiTech Data API configuration for the specified framework.\nYou can optionally provide settings to update the Data API configuration.\nThe schema cache is always refreshed as part of this operation.\n",
        "tags": [
          "DataAPI"
        ],
        "operationId": "updateProjectBranchDataAPI",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataAPIUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Updated the OptiTech Data API configuration and refreshed the schema cache",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "delete": {
        "summary": "Delete OptiTech Data API",
        "description": "Deletes the OptiTech Data API for the specified framework.\nExisting connections using the Data API endpoint will fail after deletion.\n",
        "tags": [
          "DataAPI"
        ],
        "operationId": "deleteProjectBranchDataAPI",
        "responses": {
          "200": {
            "description": "Deleted the OptiTech Data API for the specified framework",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "get": {
        "summary": "Retrieve OptiTech Data API configuration",
        "description": "Retrieves the OptiTech Data API configuration for the specified framework,\nincluding endpoint URL, enabled state, and register settings.\n",
        "tags": [
          "DataAPI"
        ],
        "operationId": "getProjectBranchDataAPI",
        "responses": {
          "200": {
            "description": "Returns the OptiTech Data API for the specified framework",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataAPIReponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/auth/create": {
      "post": {
        "summary": "Create OptiTech Auth integration",
        "description": "DEPRECATED, use `/programs/{program_id}/frameworks/{framework_id}/auth` instead. Creates a program on a third-party authentication provider's platform for use with OptiTech Auth.\nUse this endpoint if the frontend integration flow can't be used.\n",
        "tags": [
          "Auth (legacy)"
        ],
        "operationId": "createNeonAuthIntegration",
        "deprecated": true,
        "x-sunset": "2026-03-01",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeonAuthCreateIntegrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Creates OptiTech Auth integration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthCreateIntegrationResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/frameworks/{framework_id}/auth": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "framework_id",
          "in": "path",
          "description": "The OptiTech framework ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "Retrieve OptiTech Auth details for the framework",
        "description": "Retrieves the OptiTech Auth integration details for the specified framework,\nincluding the auth provider type and integration status.\n",
        "tags": [
          "Auth"
        ],
        "x-stability-level": "beta",
        "operationId": "getNeonAuth",
        "responses": {
          "200": {
            "description": "Fetched the details of the OptiTech Auth integration for the specified framework",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthIntegration"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "post": {
        "summary": "Enable OptiTech Auth for the framework",
        "description": "Enables OptiTech Auth for the specified framework by connecting it to an authentication provider.\nCreating the integration provisions the `neon_auth` schema in the framework register, which stores user identity data synchronized from the provider.\n",
        "tags": [
          "Auth"
        ],
        "x-stability-level": "beta",
        "operationId": "createNeonAuth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnableNeonAuthIntegrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Enables OptiTech Auth integration for the framework",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthCreateIntegrationResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "delete": {
        "summary": "Disable OptiTech Auth for the framework",
        "description": "Disables the OptiTech Auth integration for the specified framework, removing the connection\nto the authentication provider.\nIf `delete_data` is `true`, also deletes the `neon_auth` schema and all associated tables\nfrom the framework register.\nThe integration can be re-enabled by calling `POST /programs/{program_id}/frameworks/{framework_id}/auth`.\n",
        "tags": [
          "Auth"
        ],
        "x-stability-level": "beta",
        "operationId": "disableNeonAuth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "delete_data": {
                    "type": "boolean",
                    "description": "If true, deletes the `neon_auth` schema from the register",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delete the integration with the authentication provider"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/auth/domains": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "List trusted redirect URI domains",
        "description": "DEPRECATED, use `/programs/{program_id}/frameworks/{framework_id}/auth/domains` instead. Lists the domains in the redirect_uri whitelist for the specified program.\n",
        "tags": [
          "Auth (legacy)"
        ],
        "deprecated": true,
        "x-sunset": "2026-03-01",
        "operationId": "listNeonAuthRedirectURIWhitelistDomains",
        "responses": {
          "200": {
            "description": "Returned the domains in the redirect_uri whitelist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthRedirectURIWhitelistResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "post": {
        "summary": "Add trusted redirect URI domain",
        "description": "DEPRECATED, use `/programs/{program_id}/frameworks/{framework_id}/auth/domains` instead. Adds a domain to the redirect_uri whitelist for the specified program.\n",
        "tags": [
          "Auth (legacy)"
        ],
        "deprecated": true,
        "x-sunset": "2026-03-01",
        "operationId": "addNeonAuthDomainToRedirectURIWhitelist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeonAuthAddDomainToRedirectURIWhitelistRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Added the domain to the redirect_uri whitelist"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "delete": {
        "summary": "Delete trusted redirect URI domain",
        "description": "DEPRECATED, use `/programs/{program_id}/frameworks/{framework_id}/auth/domains` instead. Deletes a domain from the redirect_uri whitelist for the specified program.\n",
        "tags": [
          "Auth (legacy)"
        ],
        "deprecated": true,
        "x-sunset": "2026-03-01",
        "operationId": "deleteNeonAuthDomainFromRedirectURIWhitelist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeonAuthDeleteDomainFromRedirectURIWhitelistRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Deleted the domain from the redirect_uri whitelist"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/frameworks/{framework_id}/auth/domains": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "framework_id",
          "in": "path",
          "description": "The OptiTech framework ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "List domains in redirect_uri whitelist",
        "description": "Lists the trusted domains in the redirect URI whitelist for the specified framework.\nOnly domains in this list are permitted as redirect targets after authentication.\n",
        "tags": [
          "Auth"
        ],
        "x-stability-level": "beta",
        "operationId": "listBranchNeonAuthTrustedDomains",
        "responses": {
          "200": {
            "description": "Returned the domains in the redirect_uri whitelist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthRedirectURIWhitelistResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "post": {
        "summary": "Add domain to redirect_uri whitelist",
        "description": "Adds a domain to the redirect URI whitelist for the specified framework.\nOnly domains in this list are permitted as redirect targets after authentication.\n",
        "tags": [
          "Auth"
        ],
        "x-stability-level": "beta",
        "operationId": "addBranchNeonAuthTrustedDomain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeonAuthAddDomainToRedirectURIWhitelistRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Added the domain to the redirect_uri whitelist"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "delete": {
        "summary": "Delete domain from redirect_uri whitelist",
        "description": "Removes a domain from the redirect URI whitelist for the specified framework.\nAfter removal, the domain can no longer be used as a redirect target after authentication.\n",
        "tags": [
          "Auth"
        ],
        "x-stability-level": "beta",
        "operationId": "deleteBranchNeonAuthTrustedDomain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeonAuthDeleteDomainFromRedirectURIWhitelistRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Deleted the domain from the redirect_uri whitelist"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/auth/keys": {
      "post": {
        "summary": "Create Auth Provider SDK keys",
        "description": "Generates SDK or API Keys for the auth provider. These might be called different things depending\non the auth provider you're using, but are generally used for setting up the frontend and backend SDKs.\n",
        "tags": [
          "Auth (legacy)"
        ],
        "operationId": "createNeonAuthProviderSDKKeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeonAuthCreateAuthProviderSDKKeysRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Creates Auth Provider SDK keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthCreateIntegrationResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/auth/user": {
      "post": {
        "summary": "Create new auth user",
        "description": "DEPRECATED, use `/programs/{program_id}/frameworks/{framework_id}/auth/users` instead. Creates a new user in OptiTech Auth.\nThe user will be created in your neon_auth.users_sync table and automatically propagated to your auth program, whether OptiTech-managed or provider-owned.\n",
        "tags": [
          "Auth (legacy)"
        ],
        "deprecated": true,
        "x-sunset": "2026-03-01",
        "operationId": "createNeonAuthNewUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeonAuthCreateNewUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Creates new user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthCreateNewUserResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/frameworks/{framework_id}/auth/users": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "framework_id",
          "in": "path",
          "description": "The OptiTech framework ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "post": {
        "summary": "Create new auth user",
        "description": "Creates a new user in the OptiTech Auth user directory for the specified framework.\nThe user is created in the `neon_auth.users_sync` table and can immediately authenticate\nusing the framework's configured auth providers.\n",
        "tags": [
          "Auth"
        ],
        "x-stability-level": "beta",
        "operationId": "createBranchNeonAuthNewUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBranchNeonAuthNewUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Creates new user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthCreateNewUserResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/frameworks/{framework_id}/auth/users/{auth_user_id}": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "framework_id",
          "in": "path",
          "description": "The OptiTech framework ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "auth_user_id",
          "in": "path",
          "description": "The OptiTech user ID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "summary": "Delete auth user",
        "description": "Deletes the specified user from the OptiTech Auth user directory for the specified framework.\nRemoves the user record from `neon_auth.users_sync`. This action cannot be undone.\n",
        "tags": [
          "Auth"
        ],
        "x-stability-level": "beta",
        "operationId": "deleteBranchNeonAuthUser",
        "responses": {
          "204": {
            "description": "Deleted the auth user"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/frameworks/{framework_id}/auth/users/{auth_user_id}/role": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "framework_id",
          "in": "path",
          "description": "The OptiTech framework ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "auth_user_id",
          "in": "path",
          "description": "The OptiTech user ID",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "summary": "Update auth user role",
        "description": "Updates the role of a user in the OptiTech Auth user directory for the specified framework.\nThe role controls the user's level of access within the OptiTech Auth integration.\n",
        "tags": [
          "Auth"
        ],
        "operationId": "updateNeonAuthUserRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNeonAuthUserRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated the auth user role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateNeonAuthUserRoleResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/auth/users/{auth_user_id}": {
      "delete": {
        "summary": "Delete auth user",
        "description": "DEPRECATED, use `/programs/{program_id}/frameworks/{framework_id}/auth/users/{auth_user_id}` instead. Deletes the auth user for the specified program.\n",
        "tags": [
          "Auth (legacy)"
        ],
        "deprecated": true,
        "x-sunset": "2026-03-01",
        "operationId": "deleteNeonAuthUser",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "description": "The OptiTech program ID",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "name": "auth_user_id",
            "in": "path",
            "description": "The OptiTech user ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted the auth user"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/auth/transfer_ownership": {
      "post": {
        "summary": "Transfer OptiTech-managed auth program to your own account",
        "description": "Transfers ownership of your OptiTech-managed auth program to your own auth provider account.\n",
        "tags": [
          "Auth (legacy)"
        ],
        "operationId": "transferNeonAuthProviderProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeonAuthTransferAuthProviderProjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transfer initiated. Follow the URL to complete the process in your auth provider's UI.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthTransferAuthProviderProjectResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/auth/integrations": {
      "get": {
        "summary": "List active integrations with auth providers",
        "description": "DEPRECATED, use `/programs/{program_id}/frameworks/{framework_id}/auth` instead.",
        "tags": [
          "Auth (legacy)"
        ],
        "operationId": "listNeonAuthIntegrations",
        "deprecated": true,
        "x-sunset": "2026-03-01",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "description": "The OptiTech program ID",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return management API keys metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNeonAuthIntegrationsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/auth/oauth_providers": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "List OAuth providers",
        "description": "DEPRECATED, use `/programs/{program_id}/frameworks/{framework_id}/auth/oauth_providers` instead. Lists the OAuth providers for the specified program.\n",
        "tags": [
          "Auth (legacy)"
        ],
        "deprecated": true,
        "x-sunset": "2026-03-01",
        "operationId": "listNeonAuthOauthProviders",
        "responses": {
          "200": {
            "description": "Returns the OAuth providers for the OptiTech Auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNeonAuthOauthProvidersResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "post": {
        "summary": "Add an OAuth provider",
        "description": "DEPRECATED, use `/programs/{program_id}/frameworks/{framework_id}/auth/oauth_providers` instead.\nAdds an OAuth provider to the specified program.\n",
        "tags": [
          "Auth (legacy)"
        ],
        "deprecated": true,
        "x-sunset": "2026-03-01",
        "operationId": "addNeonAuthOauthProvider",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeonAuthAddOAuthProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The OAuth provider has been added to the program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthOauthProvider"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/frameworks/{framework_id}/auth/oauth_providers": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "framework_id",
          "in": "path",
          "description": "The OptiTech framework ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "List OAuth providers for the framework",
        "description": "Lists the OAuth providers configured for the specified framework's OptiTech Auth integration.\n",
        "tags": [
          "Auth"
        ],
        "x-stability-level": "beta",
        "operationId": "listBranchNeonAuthOauthProviders",
        "responses": {
          "200": {
            "description": "Returns the OAuth providers for the OptiTech Auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListNeonAuthOauthProvidersResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "post": {
        "summary": "Add an OAuth provider",
        "description": "Adds an OAuth provider configuration to the specified framework's OptiTech Auth integration.\nAfter adding, users can authenticate using the configured provider.\n",
        "tags": [
          "Auth"
        ],
        "x-stability-level": "beta",
        "operationId": "addBranchNeonAuthOauthProvider",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeonAuthAddOAuthProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The OAuth provider has been added to the program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthOauthProvider"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/auth/oauth_providers/{oauth_provider_id}": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "oauth_provider_id",
          "in": "path",
          "description": "The OAuth provider ID",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/NeonAuthOauthProviderId"
          }
        }
      ],
      "patch": {
        "summary": "Update OAuth provider",
        "description": "DEPRECATED, use `/programs/{program_id}/frameworks/{framework_id}/auth/oauth_providers/{oauth_provider_id}` instead. Updates a OAuth provider for the specified program.\n",
        "tags": [
          "Auth (legacy)"
        ],
        "deprecated": true,
        "x-sunset": "2026-03-01",
        "operationId": "updateNeonAuthOauthProvider",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeonAuthUpdateOAuthProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The OAuth provider has been added to the program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthOauthProvider"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "delete": {
        "summary": "Delete OAuth provider",
        "description": "DEPRECATED, use `/programs/{program_id}/frameworks/{framework_id}/auth/oauth_providers/{oauth_provider_id}` instead. Deletes a OAuth provider from the specified program.\n",
        "tags": [
          "Auth (legacy)"
        ],
        "deprecated": true,
        "x-sunset": "2026-03-01",
        "operationId": "deleteNeonAuthOauthProvider",
        "responses": {
          "200": {
            "description": "Deleted the OAuth provider from the program"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/frameworks/{framework_id}/auth/oauth_providers/{oauth_provider_id}": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "framework_id",
          "in": "path",
          "description": "The OptiTech framework ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "oauth_provider_id",
          "in": "path",
          "description": "The OAuth provider ID",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/NeonAuthOauthProviderId"
          }
        }
      ],
      "patch": {
        "summary": "Update OAuth provider",
        "description": "Updates a OAuth provider for the specified program.\n",
        "tags": [
          "Auth"
        ],
        "x-stability-level": "beta",
        "operationId": "updateBranchNeonAuthOauthProvider",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeonAuthUpdateOAuthProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The OAuth provider has been added to the program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthOauthProvider"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "delete": {
        "summary": "Delete OAuth provider",
        "description": "Deletes a OAuth provider from the specified program.\n",
        "tags": [
          "Auth"
        ],
        "x-stability-level": "beta",
        "operationId": "deleteBranchNeonAuthOauthProvider",
        "responses": {
          "200": {
            "description": "Deleted the OAuth provider from the program"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/auth/email_server": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "Retrieve email server configuration",
        "description": "DEPRECATED, use `/programs/{program_id}/frameworks/{framework_id}/auth/email_provider` instead. Gets the email server configuration for the specified program.\n",
        "tags": [
          "Auth (legacy)"
        ],
        "deprecated": true,
        "x-sunset": "2026-03-01",
        "operationId": "getNeonAuthEmailServer",
        "responses": {
          "200": {
            "description": "Returns the email server configuration for the OptiTech Auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthEmailServerConfig"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "patch": {
        "summary": "Update email server configuration",
        "description": "DEPRECATED, use `/programs/{program_id}/frameworks/{framework_id}/auth/email_provider` instead. Updates the email server configuration for the specified program.\n",
        "tags": [
          "Auth (legacy)"
        ],
        "deprecated": true,
        "x-sunset": "2026-03-01",
        "operationId": "updateNeonAuthEmailServer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeonAuthEmailServerConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The OAuth provider has been added to the program",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthEmailServerConfig"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/frameworks/{framework_id}/auth/send_test_email": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "framework_id",
          "in": "path",
          "description": "The OptiTech framework ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "post": {
        "summary": "Send test email",
        "description": "Sends a test email using the configured email server settings to verify SMTP connectivity and credentials.\nThe request body must include the SMTP server settings\n(`host`, `port`, `username`, `password`, `sender_email`, `sender_name`) and the `recipient_email` address.\n",
        "tags": [
          "Auth"
        ],
        "x-stability-level": "beta",
        "operationId": "sendNeonAuthTestEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendNeonAuthTestEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response with the result of the test email send",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendNeonAuthTestEmailResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/frameworks/{framework_id}/auth/email_and_password": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "framework_id",
          "in": "path",
          "description": "The OptiTech framework ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "Retrieve email and password configuration",
        "description": "Retrieves the email and password authentication configuration for the specified framework's OptiTech Auth integration,\nincluding whether it is enabled and the email verification method.\n",
        "tags": [
          "Auth"
        ],
        "operationId": "getNeonAuthEmailAndPasswordConfig",
        "responses": {
          "200": {
            "description": "Returns the email and password configuration for OptiTech Auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthEmailAndPasswordConfig"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "patch": {
        "summary": "Update email and password configuration",
        "description": "Updates the email and password authentication configuration for the specified framework's OptiTech Auth integration.\nOnly the fields provided in the request body are updated.\n",
        "tags": [
          "Auth"
        ],
        "operationId": "updateNeonAuthEmailAndPasswordConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeonAuthEmailAndPasswordConfigUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The email and password configuration has been updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthEmailAndPasswordConfig"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/frameworks/{framework_id}/auth/email_provider": {
      "parameters": [
        {
          "name": "program_id",
          "in": "path",
          "description": "The OptiTech program ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        },
        {
          "name": "framework_id",
          "in": "path",
          "description": "The OptiTech framework ID",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "^[a-z0-9-]{1,60}$"
          }
        }
      ],
      "get": {
        "summary": "Retrieve email provider configuration",
        "description": "Retrieves the email provider configuration for the specified framework's OptiTech Auth integration,\nincluding the provider type and server settings.\n",
        "tags": [
          "Auth"
        ],
        "operationId": "getNeonAuthEmailProvider",
        "responses": {
          "200": {
            "description": "Returns the email provider configuration for the OptiTech Auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthEmailServerConfig"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      },
      "patch": {
        "summary": "Update email provider configuration",
        "description": "Updates the email provider configuration for the specified framework's OptiTech Auth integration.\nThe email provider handles transactional messages such as verification emails and password reset links.\n",
        "tags": [
          "Auth"
        ],
        "operationId": "updateNeonAuthEmailProvider",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NeonAuthEmailServerConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The email provider configuration has been updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NeonAuthEmailServerConfig"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/auth/integration/{auth_provider}": {
      "delete": {
        "summary": "Delete integration with auth provider",
        "description": "DEPRECATED, use `/programs/{program_id}/frameworks/{framework_id}/auth` instead.",
        "tags": [
          "Auth (legacy)"
        ],
        "deprecated": true,
        "x-sunset": "2026-03-01",
        "operationId": "deleteNeonAuthIntegration",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "description": "The OptiTech program ID",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "name": "auth_provider",
            "in": "path",
            "description": "The authentication provider name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/NeonAuthSupportedAuthProvider"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "delete_data": {
                    "type": "boolean",
                    "description": "If true, deletes the `neon_auth` schema from the register",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delete the integration with the authentication provider"
          },
          "default": {
            "$ref": "#/components/responses/GeneralError"
          }
        }
      }
    },
    "/programs/{program_id}/connection_uri": {
      "get": {
        "summary": "Retrieve connection URI",
        "description": "Retrieves a connection URI for the specified register.\nThe URI uses the standard PostgreSQL connection string format. Set `pooled=true` to include the `-pooler` suffix for a connection pooler URI.\n",
        "tags": [
          "Project"
        ],
        "operationId": "getConnectionURI",
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "description": "The OptiTech program ID",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "name": "framework_id",
            "in": "query",
            "description": "The framework ID. Defaults to your program's default `framework_id` if not specified.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "name": "integration_id",
            "in": "query",
            "description": "The endpoint ID. Defaults to the read-write `integration_id` associated with the `framework_id` if not specified.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9-]{1,60}$"
            }
          },
          {
            "name": "register_name",
            "in": "query",
            "description": "The register name",
[...]
